server:
  port: 8888
  http2:
    enabled: true

spring:
  datasource:
    url: ENC(ndw17SsIx2OUN9mEESxO7b3oEM/rXaaZgWjOt4KFXpbemUFBOSkZxWutjUNrV0C0KxaNWPNL1SeSEXC8HwVcyJGRLVBOG2oiTjD3KjuHDeQQyxUC1HxLcmzJzxVL2K1gxR3hUG2rFZM=)
    username: ENC(HoGt7dUuSI3OXlqWG5c/7Q==)
    password: ENC(AYg2AqtTFFjld89z21bghxogHpzsZfBl)
    driver-class-name: org.mariadb.jdbc.Driver


logging:
  level:
    root: debug

  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MariaDBDialect
        format_sql: true
        show_sql: true
        ddl-auto: update
        jdbc:
          time_zone: Asia/Seoul
        naming:
          implicit-strategy: org.hibernate.boot.model.naming.ImplicitNamingStrategyLegacyJpaImpl
          physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl

resource:
  jwt:
    access-token-limit: 7200000
    refresh-token-limit: 108000000
    secret: ENC(si6wusao42AjX54zvJlSlt9Sa25PMe5R)

jasypt:
  encryptor:
    bean: jasyptStringEncryptor